Repository vvoyage/Stress-test-Golang, pull requests merged in 2025-03, with the labels that each got.

#11 Добавил обработку сигналов выхода приложения для сервера
  server/server.go
Labels: Server

#12 Добавил буферизацию в логирование
  common/common.go
Labels: Common

#13 Добавить генерацию нагрузки
  client/client.go
Labels: Client

#15 Логировать события за промежуток времени #3
  client/client.go
  common/common.go
  go.mod
  go.sum
  server/server.go
Labels: Server
